.paghiper-pix-code {

	cursor: pointer;

	p {

		display: block;
		margin-bottom: 0.5em;
		cursor: pointer;

		button {
			border: unset;
			display: inline-block;
			cursor: pointer;
			padding: .25em .4em;
			font-size: 75%;
			font-weight: 700;
			line-height: 1;
			text-align: center;
			white-space: nowrap;
			vertical-align: baseline;
			border-radius: .25rem;
			transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	
			color: #fff;
			background-color: #17a2b8;
			text-transform: uppercase;
		}

	}

	.textarea-container {
		background-color: #e2e3e5;
		border: 1px solid #dee2e6 !important;
		padding: .75rem 1.25rem;
		margin-bottom: 1rem;
		border-radius: .25rem;
		cursor: pointer;

		textarea {
			color: #333333;
			width: 100%;
			background: none;
			border: none;
			overflow: hidden;
			pointer-events: none;
			line-break: anywhere;
		}
	}
}

.pix-container {
	display: flex;
	flex-direction: row;
	margin: 2em 0 4em;

	.qr-code {
		flex-grow: 1;
	}

	.instructions {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}

.woo_paghiper_digitable_line {

	text-align: center;
	
	ul {
		text-align: left;
		list-style-type: none !important;
		padding: 2em 0 !important;
		margin: 0px !important;
		max-width: 400px;

		li {
			margin-bottom: 1.5em !important;
			padding-left: 65px;
			position: relative;
			line-height: 1.5em;
			min-height: 50px;

			display: flex;
			flex-direction: column;
			justify-content: center;

			&:before {
				content: '';
				position: absolute;
				display: block;
				width: 50px;
				height: 50px;
				border-radius: 40px;
				left: 0px;
				top: 50%;
				transform: translateY(-50%);
				background-size: contain;
				box-shadow: 0 2px 4px rgba(0, 0, 0, .15);
			}

			&:first-child:before { background-image: url('../images/ico_1-app.png'); }
			&:nth-child(2):before { background-image: url('../images/ico_2-qr.png'); }
			&:last-child:before { background-image: url('../images/ico_3-ok.png'); }
		}
	}
}

.payment_method_paghiper_billet,
.payment_method_paghiper_pix {
	img {
		max-height: 40px;
	}
}

.paghiper-hidden {
	display: none !important;
}